body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#toolbar {
  margin-bottom: 10px;
}

svg {
  border: 1px solid black;
  background-color: #f9f9f9;
  cursor: crosshair;
}

#radius-value {
  font-weight: bold;
}

input[type="range"] {
  margin: 0 5px;
}

.toggle-button {
  background-color: #007BFF;
  color: white;
  /* padding: 10px 20px; */
  /* border: none; */
  border-radius: 5px;
  /* font-size: 16px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.toggle-button.on {
  background-color: #28a745;
}

.toggle-button.on:hover {
  background-color: #218838;
}
